body {
  background-color: rgb(235, 235, 235);
}
.user-form {
  width: 100%;
  height: 100%;
  max-width: 360px;
  margin: 0 auto;
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
}
.user-form p {
  font-size: clamp(0.6rem, 1.8vw, 0.8rem);
  font-weight: 600;
}
.user-form h3 {
  font-size: clamp(0.7rem, 1.8vw, 1rem);
  font-weight: 500;
  margin: 0 1rem;
}
.signup-form,
.login-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
}
.login-form {
  margin-top: 0;
  padding-top: 0;
}
.form-message {
  display: flex;
  /* border: 1px solid rgb(87, 87, 87); */
  padding: 0.5rem;
  width: 106%;
  align-items: center;
  padding-bottom: 0rem;
  box-sizing: border-box;
}
.form-message > p {
  font-weight: 400;
}
.login-form > .form-message {
  margin-top: -1.3rem;
  margin-bottom: 0.5rem;
}

.form-input {
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 100%;
}
.input {
  width: 100%;
  /* border: 1px solid black; */
  margin: 1rem 0;
}
.input input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.3rem;
  box-sizing: border-box;
}
.signin-btn,
.signup-btn {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
  border-radius: 3px;
  margin-top: 1rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ceff9d, #95ff2a);
}
@media only screen and (max-width: 800px) {
  .signup-form,
  .login-form {
    padding: 1rem;
  }
  .login-form > .form-message {
    margin-top: -1.4rem;
    margin-bottom: 0rem;
  }
  .signin-btn,
  .signup-btn {
    margin-top: 0.3rem;
    font-size: 0.75rem;
  }
}
